@font-face {
    font-family: 'Cascadia';
    src: url(Assets/Cascadia.ttf);
}

body{
    width: 100%;
    background-color: #F19C2F;
  }
  
  nav{
    position: fixed;
    left: 0;
    top:0;
    margin: 0;
  }
  
  ul {
    position:fixed
    left: 0;
    top: 0;
    list-style-type: none;
    width:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    padding: 05px 10px;
    text-decoration: none;
    }

  
   /* Add a white right border to all list items, except the last item (last-child) */
  li {
    border-right: 1px solid rgb(255, 255, 255);
  }
  
  li:last-child {
    border-right: none;
  }
  
  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .head-box{
    background-color:#F19C2F;
    height:70px;
    display:flex;
    align-items: center;
  }

  .header-container{
    background-color:#F19C2F;
    position:fixed;
    left:0;
    width:100%;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    }

    .stuart-nicoll{
        font-family:'Cascadia';
    }

    #header-small-text{
        font-family:Arial, Helvetica, sans-serif
    }
    .logo{
    height: 20px;
    margin-left: 20px;
    margin-right: 20px; 
  }

  /* Section to list icons down the page */

  .main-container{
    position: fixed;
    left: 0;
  
    
  }

.align-list{
    position:relative;
    top:10%;
    width:100%;
   
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
 

   }
     
    .box1 {
        width:100%;
        height:100px;
        left: 10%;
        background-color: #F19C2F;
        display: flex;
        justify-content: center;
        align-items: center;
  
        }

    #quantum-picture { 
        width: 50px;
        height:50px;
        border-radius: 50%;
        border: 2px solid white;
        }

    #quantum-text{
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            display: inline;
          
        }
    
   
     .box2 {
        width:100%;
        height: 100px;
        background-color: #F19C2F;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        }
        
    #pro3-picture { 
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid white;
            } 
            
    #pro3-text{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            text-decoration: none;
            display: inline;
        }



    .box3 {
        width:100%;
        height: 100px;
        background-color: #F19C2F;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        }

    #s2400-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid white;
        }
    
    #s2400-text {
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      display: inline;
      
    }
            
    .box4 {
        width:100%;
        height: 100px;
        background-color: #F19C2F;
        display: flex;               
        justify-content: center;
        align-items: center;
        text-align: center;
        }    
        
    #octatrack-picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid white;
        
    }

    #octatrack-text{
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        display: inline;
    }

    .box5 {
      width:100%;
      height: 100px;
      background-color: #F19C2F;
      display: flex;               
      justify-content: center;
      align-items: center;
      text-align: center;
      }    
      
  #sq6-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid  white;
  }

  #sq6-text-text{
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      display: inline;
  }
       
    
  #button-container{
    height: 30px;
   
    display:flex;
    justify-content: center;
    align-items: center;

}


.back-to-top-container{
    position: fixed;
    left: 0;
    bottom: 40px;
    background-color: #F19C2F;
    height: 30px;
    width: 100%;
    justify-content: center;
    text-align: center;
    }

    a:link {
      text-decoration: none;
    }
    
    a:visited {
      text-decoration: none;
    }

.back-to-top-text{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
   background-color: rgb(0, 0, 0);
}

.footer-text{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    font-size: 10px;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 600px) {
  /* Change the link color on hover */
  li a:hover {
    background-color: #F19C2F;
  }

  #picture { 
    margin-left:10%; 
    width: 100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid white;
    }
    .align-list{
      position:fixed;
      top:40%;
      width:100%;
      display:flex;
      flex-direction: row;
      flex-wrap:nowrap;

   
  
     }